{% extends 'base_auth.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="authWrap">
  <div class="authCard">
    <div class="authHead">
      <h1>Welcome back</h1>
      <p>Login to continue to CommuteX.</p>
    </div>

    <form method="post" class="form">
      {% csrf_token %}

      <div class="field">
        <label>Username</label>
        {{ form.username }}
        {% if form.username.errors %}
          <div class="error">{{ form.username.errors|striptags }}</div>
        {% endif %}
      </div>

      <div class="field">
        <label>Password</label>
        {{ form.password }}
        {% if form.password.errors %}
          <div class="error">{{ form.password.errors|striptags }}</div>
        {% endif %}
      </div>

      {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors|striptags }}</div>
      {% endif %}

      <button type="submit" class="btn btn--primary">Login</button>
    <div style="height:14px;"></div>
    </form>

    <div class="authFoot">
      Don’t have an account?
      <a href="{% url 'signup' %}">Sign up</a>
    </div>
  </div>
</div>
{% endblock %}
