{% extends 'base_auth.html' %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="authWrap">
  <div class="authCard">
    <div class="authHead">
      <h1>Create your account</h1>
      <p>Sign up in one minute.</p>
    </div>

    <form method="post" class="form">
      {% csrf_token %}

      <div class="field">
        <label>Username</label>
        {{ form.username }}
        {% if form.username.errors %}
          <div class="error">{{ form.username.errors|striptags }}</div>
        {% endif %}
      </div>

      <div class="field">
        <label>Email</label>
        {{ form.email }}
        {% if form.email.errors %}
          <div class="error">{{ form.email.errors|striptags }}</div>
        {% endif %}
      </div>

      <div class="field">
        <label>Password</label>
        {{ form.password1 }}
        {% if form.password1.errors %}
          <div class="error">{{ form.password1.errors|striptags }}</div>
        {% endif %}
      </div>

      <div class="field">
        <label>Confirm Password</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
          <div class="error">{{ form.password2.errors|striptags }}</div>
        {% endif %}
      </div>

      {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors|striptags }}</div>
      {% endif %}

      <button type="submit" class="btn btn--primary">Create account</button>
    <div style="height:14px;"></div>
    </form>

    <div class="authFoot">
      Already have an account?
      <a href="{% url 'login' %}">Login</a>
    </div>
  </div>
</div>
{% endblock %}
